.divContainer{
    margin-left:30px;
    
}

.centerContent{
    text-align:center;
    float:left;
    margin-right:30px;
}

.centerContent2{
    text-align:center;
    float:left;
    margin-right:30px;
    margin-bottom: 40px;
    
}
.centerContent3{
    text-align:center;
    
    
}

div.centerContent td:nth-child(1){
        border:none;
}

td{
    border:1px solid black;
}

/* td:not(:first-child){
    border:1px solid black;
} */
