.sideBar {
    height:100%;
    padding-top:10px;
    text-align: center;
    /* margin-left:-40%; */
  }


.cartContainer {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width:none;
  height:600px;
}

.orderPreviewList{
  text-align:left !important;
  padding-left: 15%;
  padding-top:10px;
}

.orderHorizontal{
  margin-left:11% !important;
  margin-right:11% !important;
  margin-top:4px;
}

.totalPriceHorizontalLine{
  margin-top:30px;
  margin-left:11% !important;
  margin-right:11% !important;
  padding-top:2px;
  background-color: black;
  margin-bottom:-3px;
}

.totalPricePrice{
  text-align:right !important;
  margin-right:-40%;
}

.totalPrice{
  color:red;
}

.totalPriceOfRestaurant{
  color:red;
}

.restaurantTotalText{
  color: #4b4b4b !important;
}

.euromark{
  color:black !important;
}

.shoppingCart{
  height: 100%;
  background: #bcd3d8;
}

.productsToBeOrderedText{
  text-align: center !important;
  padding-top:10px;
}